* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    overflow-x: hidden;
    background-color: #f0f0f0;
  }

  body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #999; 
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: none;
    border: none; 
}

nav {  
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh ;
    background-color: #f0f0f0;
    z-index: 1;
}

#section-main {  
    height: 100vh;
}

#section-company {
    height: 100vh;
    background-image: url(/img/main2-img.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

#section-company2 {
    height: 90vh;
}

#section-product {
    height: 108vh;
}

#section-review {
    height: 95vh;
}

.navbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 5px 40px;
  }

  a {
    text-decoration: none;
    color: #000;
    position: relative;
  }

  a:visited,
  a:hover,
  a:active {
    color: #000;
  }

  .item:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(121, 121, 121, 0.2);
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
  }

  .item:hover:after,
  .item:focus:after {
    opacity: 1;
    transform: translateY(0px);
  }
  

  [data-scroll] {
    opacity: 0;
    transform: translateY(6rem) scale(0.93);
    will-change: transform, scale, opacity;
    transition: opacity 1s, transform 1s;
  }
  
  [data-scroll="in"] {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  
  [data-scroll="out"] {
    opacity: 0;
  }

.logo {
    padding: 5px;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; 
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    flex-shrink: 0;
}

.carousel-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.nav-dot {
    width: 12px;
    height: 12px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-prev {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.main-prev button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px;
    font-size: 24px;
}

.nav-dot.active {
    background-color: white;
}

.main-texts {
    position: absolute;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-130%);
    margin-right: 20%;
    font-weight: 700;
    font-family: "Noto Sans KR", sans-serif;
    color: #f2efdc;
    margin-top: 3%;
    margin-left: 3%;
}

.main-text1 {
    font-size: 65px;
    letter-spacing: 1.4px;
}
.main-text2 {
    font-size: 100px;
}
.main-text3, .main-text4 {
    font-size: 30px;
}

.company-img {
    position: relative;
    width: 100%;
}

.company-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-15%, 2%);
}

.bar {
    width: 3px;
    height: 715px;
    transform: rotate(-180deg);
    background-color: #999;
}

.company-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(-8%,-110%);
    gap: 106px;
}
    
.line-1 {
    width: 100px;
    height: 3px;
    background-color: #999;
}
.line-2 {
    width: 100px;
    height: 3px;
    background-color: #999;
}
.line-3 {
    width: 100px;
    height: 3px;
    background-color: #999;
}
.line-4 {
    width: 100px;
    height: 3px;
    background-color: #999;
}
.line-5 {
    width: 100px;
    height: 3px;
    background-color: #999;
}
.line-6 {
    width: 100px;
    height: 3px;
    background-color: #999;
}
.company-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    gap: 65px;
    transform: translateY(-199%);
}
.company-text {
    padding-left: 14%;
}
.company-text2 {
    padding-left: 13%;
}
.company-text3 {
    padding-left: 16.5%;
}
.company-text4 {
    padding-left: 31%;
}
.company-text5 {
    padding-left: 27.5%;
}
.company-text6 {
    padding-left: 16%;
}

.company2-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 981px;
    height: 122px; 
    font-size: 45px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    transform: translateY(80%);
    color: #000;
}

.company2-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company2-ExplainFrame {
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 1350px;
    background-image: linear-gradient(to right, #fcb234, #f66331 50%, #ed1a2d);
    border-radius: 0 0 10px 10px;
    transform: translate(6.2%, -375%);
}

.company2-order {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 400px;
    transform: translate(40%);
}

.company2-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}

.company2-text1 {
    position: relative;
    transform: translate(-390%);
}

.company2-text2 {
    position: relative;
    transform: translate(-220%);
} 
.company2-text3 {
    position: relative;
    transform: translate(60%);
}

.carousel-container2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel2 {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; 
    margin-top: 2%;
}

.carousel2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    flex-shrink: 0;
}

.carousel-nav2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.carousel-nav2 .nav-dot {
    width: 12px;
    height: 12px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.carousel-nav2 .nav-dot.active {
    background-color: white;
}


.product-prev {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.product-prev button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px;
    font-size: 24px;
}

.product-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 2%;
}

.product-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 2%;
}

.product-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
}

.product-MenuText {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-right: 15%;
    letter-spacing: 0.6px;
}

.product-MenuPrice {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-left: 5%;
    padding-top: 3%;
    letter-spacing: 0.6px;
}

.product-MenuLast {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-top: 5%;
    gap: 40px;
    color: #999;
    letter-spacing: -0.3px;
}

.product-view {
    padding-top: 2%;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product-menu2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
}

.product-MenuText2 {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    font-size: 17px;
    padding-right: 25%;
    letter-spacing: 0.6px;
}

.product-MenuPrice2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-left: 5%;
    padding-top: 3%;
    letter-spacing: 0.6px;
}

.product-MenuLast2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-top: 5%;
    gap: 40px;
    color: #999;
    letter-spacing: -0.3px;
}

.product-view2 {
    padding-top: 2%;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product-menu3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
}

.product-MenuText3 {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-right: 30%;
    letter-spacing: 0.6px;
}

.product-MenuPrice3 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-left: 5%;
    padding-top: 3%;
    letter-spacing: 0.6px;
}

.product-MenuLast3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-top: 5%;
    gap: 40px;
    color: #999;
    letter-spacing: -0.3px;
}

.product-view3 {
    padding-top: 2%;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product-menu4 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
}

.product-MenuText4 {
    width: 300px;
    height: 24px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-right: 15%;
    letter-spacing: 0.6px;
}

.product-MenuPrice4 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-left: 5%;
    padding-top: 10%;
    letter-spacing: 0.6px;
}

.product-MenuLast4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-top: 5%;
    gap: 40px;
    color: #999;
    letter-spacing: -0.3px;
}

.product-view4 {
    padding-top: 2%;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product-menu5 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
}

.product-MenuText5 {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-left: 15%;
    letter-spacing: 0.6px;
    
}

.product-MenuPrice5 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-left: 5%;
    padding-top: 14%;
    letter-spacing: 0.6px;
}

.product-MenuLast5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding-top: 5%;
    gap: 40px;
    color: #999;
    letter-spacing: -0.3px;
}

.product-view5 {
    padding-top: 2%;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.review-textParent {
    display: flex;
    justify-content: center;
    align-content: center;

}

.review-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-top: 5%;
}

.review-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    gap: 100px;
    margin-bottom: 5%;
}

.review-imgs:hover {
    transform: scale(1.1);
}

.review-BtnParent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    width: 300px;
    height: 80px;   
    border-radius: 30px;
    color: #f0f0f0 !important;
    background-color: #bf1534;
}

.review-btn:hover {
    background-color: #750726;
}

.review-BtnExplain {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #999;
    margin-bottom: 1%;
}

.review-Text2Parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.review-text2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 2%;
}

.review-imgs2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 400px;
    margin-top: 1%;
    margin-left: 2%;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(-100%);
    margin-left: 10%;
    gap: 190px;
}

.review1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    line-height: 1.3;
}

.review1-inform {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #999;
}

.review1-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.review2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    line-height: 1.3;
}

.review2-inform {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #999;
}

.review2-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.review3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    line-height: 1.3;
}

.review3-inform {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #999;
}

.review3-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 10px;
        overflow-x: hidden;
    }

    nav {
        height: 6vh;
        padding: 0 10px;
    }

    .navbox {
        padding-right: 0;
    }

    .item {
        font-size: 12px;
        padding: 3px 10px;
        letter-spacing: 1px;
    }

    #main {
        display: flex;
        height: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    #main .main-texts {
        margin: auto;
        width: 100%;
        padding: 0 15px; 
        text-align: center; 
    }
    
    #main .main-text1 {
        font-size: 0.5rem; 
        letter-spacing: 0.3px; 
    }
    
    #main .main-text2 {
        font-size: 1.2rem; 
    }
    
    #main .main-text3,
    #main .main-text4 {
        font-size: 1.1rem; 
    }
    
    

    #section-company {
        height: auto;
        min-height: 100vh;
        padding: 2rem 0;
        background-size: contain;
        background-position: center bottom;
    }

    .company-bar {
        display: none;
    }

    .company-lines {
        display: none;
    }

    .line-1, .line-2, .line-3, .line-4, .line-5, .line-6 {
        width: 60px;
    }

    .company-texts {
        transform: none;
        font-size: 1.8rem;
        gap: 45px;
        margin-top: 150px;
    }

    .company-text, 
    .company-text2, 
    .company-text3, 
    .company-text4, 
    .company-text5, 
    .company-text6 {
        padding-left: 40px;
    }

    #section-company2 {
        height: auto;
        min-height: 90vh;
        padding: 0;
    }

    .company2-text {
        width: 100%;
        height: auto;
        font-size: 2.2rem;
        text-align: center;
        transform: none;
        margin: 2rem auto;
        padding: 1rem;
    }

    .company2-imgs {
        display: block;  
        width: 100%;
        padding: 0;
        margin: 0;
        line-height: 0;  
        font-size: 0;    
    }

    .company2-imgs img {
        display: block;  
        width: 100%;
        height: auto;
        margin: 0;      
        padding: 0;     
    }

    .company2-ExplainFrame {
        width: 100%;
        transform: none;
        margin: 0;
        padding: 1.5rem;
        border-radius: 0;
    }

    .company2-order {
        display: none;
    }

    .company2-texts {
        font-size: 1.6rem;
        padding: 0.5rem;
        white-space: nowrap;
        gap: 50px;
    }

    .company2-text1,
    .company2-text2,
    .company2-text3 {
        transform: none;
        width: auto;
        flex-shrink: 0;
        text-align: center;
        margin: 0;
        min-width: max-content;
    }
        @media screen and (max-width: 480px) {
            .company-texts {
                font-size: 1.6rem;
            }
        
            .company2-text {
                font-size: 2rem;
            }
        
            .company-lines {
                margin-left: -30px;
            }
        
            .line-1, .line-2, .line-3, .line-4, .line-5, .line-6 {
                width: 100px;
            }
        
            .company-text, 
            .company-text2, 
            .company-text3, 
            .company-text4, 
            .company-text5, 
            .company-text6 {
                padding-left: 30px;
            }
        }

    #section-product {
        height: auto;
        margin-bottom: 30px;
    }

    #section-product .product-text {
        font-size: 1.8rem;
        margin-left: 5%;
    }

    #section-product .product-menus {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 3rem;
    }

    #section-product .product-menu {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    #section-product .product-MenuText {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    #section-product .product-MenuPrice {
        align-self: center;
        padding-left: 0;
    }

    #section-review {
        height: auto;
        margin-bottom: 30px;
    }

    #section-review .review-text {
        font-size: 2.2rem;
        text-align: center;
        margin: 3rem 0 4rem;
    }

    #section-review .review-imgs {
        flex-direction: column;
        gap: 2rem;
    }

    #section-review .review-imgs2 {
        display: none;
    }


    #section-review .review-btn {
        width: 25rem;
        height: 5rem;
        font-size: 1.8rem;
    }

    #section-review .reviews {
        flex-direction: column;
        margin-left: 0;
        gap: 3rem;
    }

    #section-review .review1, #section-review .review2, #section-review .review3 {
        display: none;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    #section-review .review1-inform, #section-review .review2-inform, #section-review .review3-inform {
        display: none;
        text-align: center;
        width: 100%;
    }

    #section-review .review-text2 {
        display: none;
        font-size: 2rem;
        text-align: center;
    }
}